/*Обнуление*/
*{padding: 0;margin: 0;border: 0;}
*,*:before,*:after{-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a,a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: inherit;}
/*--------------------*/

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}
.header__container {
  max-width: 964px;
  margin: 0 auto;
  padding: 0 10px;
}
.container {
  max-width: 875px;
  margin: 0 auto;
  padding: 0 10px;
}
.other__container {
  max-width: 702px;
  margin: 0 auto;
  padding: 0 10px;
}
/*Верстка адаптивної шапки*/

.header {
  position: relative;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 50;
}
.header::before {
  content: '';
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
}
.header__body {
  position: relative;
  padding: 34px 0px 27px 0px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.header__burger {
  display: none;
}
.header__menu {
  position: relative;
  z-index: 3;
}
.menu__list {
  display: flex;
}
.menu__list li {
  margin-left: 35px;
}
.menu__link {
  font-family: 'Heebo';
  font-weight: 500;
  font-size: 20px;
  line-height: 29px;
  color: #000000;
  transition: color 0.5s ease 0s;
}
.menu__link.active {
  color: #FF6464;
}
.menu__link:hover {
  color: #FF6464;
}
@media (max-width:500px){
  .header__body {
    padding: 19px 0px 11px 0px;
  }
  .header__burger {
    display: block;
    width: 30px;
    height: 20px;
    position: relative;
    z-index: 3;
  }
  .header__burger::before,
  .header__burger::after {
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #21243D;
    transition: all 0.4s ease 0s;
  }
  .header__burger::before {
    top: 0;
  }
  .header__burger::after {
    bottom: 0;
  }
  .header__burger span {
    position: absolute;
    left: 0;
    top: 9px;
    width: 100%;
    height: 2px;
    background-color: #21243D;
    transition: all 0.4s ease 0s;
  }
  .header__burger.active::before {
    transform: rotate(45deg);
    top: 9px
  }
  .header__burger.active::after {
    transform: rotate(-45deg);
    bottom: 9px;
  }
  .header__burger.active span {
    transform: scale(0);
  }
  .header__menu {
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    padding: 75px 10px 20px 10px;
    overflow: auto;
    transition: all 0.5s ease 0s;
    z-index: 1;
  }
  .header__menu.active {
    top: 0;
  }
  .menu__list {
    position: relative;
    display: block;
  }
  .menu__list li {
    margin: 0px 0px 30px 0px;
    text-align: center;
  }
  .menu__link {
    font-size: 38px;
  }
  body.lock {
    position: fixed;
    height: 100%;
    overflow: hidden;
    width: 100%;
    top: 0;
    left: 0;
  }
}
/*----------------------------------------------------*/
/*Контентна частина*/
.content {
flex: 1 1 auto;
}
/*Перша секція*/

.hello__body {
  display: flex;
  justify-content: space-between;
  padding: 135px 0 71px 0;
  align-items: flex-start;
}
.hello__information {
  padding: 29px 20px 0px 0px ;
}
.hello__title {
  max-width: 438px;
  font-family: 'Heebo';
  font-weight: bold;
  font-size: 44px;
  line-height: 60px;
  color: #21243D;
}
.hello__text {
  margin-top: 45px;
  margin-bottom: 38px;
  max-width: 497px;
  font-family: 'Heebo';
  font-size: 16px;
  line-height: 23px;
  color: #21243D;
}
.hello__button {
  display: inline-flex;
  padding: 14px 20px;
  background-color: #FF6464;
  border-radius: 2px;
}
.hello__button a {
  font-family: 'Heebo';
  font-weight: 500;
  font-size: 20px;
  line-height: 29px;
  color: #FFFFFF;
}
.hello__photo {
  width: 243px;
  height: 243px;
}
.hello__photo img {
  border-radius: 50%;
  box-shadow: -5px 15px 0 0 #EDF7FA;
}
@media(max-width:706px) {
  .hello__body {
    padding: 33px 0px 50px 0px;
  }
  .hello__photo {
    margin: auto 0;
  }
  .hello__title {
    font-size: 32px;
    line-height: 40px;
  }
  .hello__text {
    margin: 35px 0px ;
  }
}
@media(max-width:500px) {
  .hello__photo img {
    width: 170px;
    height: 170px;
  }
  .hello__photo {
    width: 170px;
    height: 170px;
  }
  .hello__body {
    flex-direction: column-reverse;
    align-items: center;
    text-align: center;
  }
  .hello__information {
    padding: 40px 35px 0px 35px ;
  }
}
/*-------------------------------------------------------------------*/
/*Друга секція*/
.posts {
  background-color: #EDF7FA;
}
.posts__body {
  padding: 10px 0px 32px 0px;
}
.posts__titles {
  display: flex;
  justify-content: space-between;
}
h2 {
  font-family: 'Heebo';
  font-size: 22px;
  line-height: 60px;
  color: #21243D;
}
.posts__titles a {
  font-family: 'Heebo';
  font-size: 16px;
  line-height: 23px;
  color: #00A8CC;
  margin: auto 0;
  text-decoration: underline;
}
.posts__row {
  display: flex;
  justify-content: space-between;
}
.post__item {
  flex: 0 1 48%;
  background-color: #fff;
  border-radius: 4px;
  padding: 24px 27px 35px 23px;
}
.item__title {
  font-family: 'Heebo';
  font-weight: bold;
  font-size: 26px;
  line-height: 38px;
  color: #21243D;
}
.item__information {
  display: flex;
  font-family: 'Heebo';
  font-size: 18px;
  line-height: 26px;
  color: #21243D;
  margin: 37px 0px 21px 0px;
}
.vertical__line {
  height: 21px;
  width: 1px;
  background-color:#21243D;
  margin: 0px 27px;
}
.item__text {
  font-family: 'Heebo';
  font-size: 16px;
  line-height: 23px;
  color: #21243D;
}
@media(max-width:760px) {
  .posts__row {
    flex-direction: column;
    align-items: center;
  }
  .post__item {
    max-width: 70%;
    margin-bottom: 17px;
  }
  .post__item:last-child {
    margin-bottom: 0;
  }
}
@media(max-width:533px) {
  .post__item {
    max-width: 100%;
  }
  .item__information {
    font-size: 16px;
    line-height: 23px;
  }
  .item__title {
    font-size: 22px;
    line-height: 30px;
  }
  .vertical__line {
    margin:0px 7px;
  }
  .posts__titles {
    justify-content: center;
  }
  h2 {
    font-size: 18px;
    line-height: 60px;
  }
  .posts__titles a {
    display: none;
  }
}
/*-------------------------------------------------------------------*/
/*Третя секція*/

.works__body {
  padding: 10px 0px 83px 0px;
}
.column__row {
  display: flex;
  padding: 23px 0px 0px 0px;
}
.row__textblock {
  padding-left: 18px;
}
.textblock__title a {
  font-family: 'Heebo';
  font-weight: bold;
  font-size: 30px;
  line-height: 44px;
  color: #21243D;
  transition: color 0.5s ease 0s;
}
.textblock__title a:hover {
  color: #FF6464;
}
.textblock__information {
  display: flex;
  margin: 27px 0;
}
.information__year {
  display: inline-flex;
  align-items: center;
  background: #142850;
  border-radius: 16px;
  font-family: 'Heebo';
  font-weight: 900;
  font-size: 18px;
  color: #FFFFFF;
  padding: 5px 10px;
}
.information__shortview {
  font-family: 'Heebo';
  font-size: 20px;
  line-height: 29px;
  color: #8695A4;
  margin-left: 26px;
}
.textblock__text {
  font-family: 'Heebo';
  font-size: 16px;
  line-height: 23px;
  color: #21243D;
}
.horizontal__line {
  margin-top: 15px;
  width: 100%;
  height: 1px;
  background-color: #E0E0E0;
}
@media(max-width:690px) {
  .column__row {
    flex-direction: column;
  }
  .row__textblock {
    padding: 18px 0px 0px 0px;
  }
  .row__photo {
    margin: 0 auto;
  }
  .works__title {
    display: flex;
    justify-content: center;
  }
  .works__body {
    padding-bottom: 40px;
  }
}
/*-------------------------------------------------------------------*/
/*-------------------------------------------------------------------*/
/*Footer*/

.footer__body {
  padding: 50px 0px 60px 0px;
}
.footer__list {
  display: flex;
  justify-content: space-around;
}
.list__item a {
  margin-left: 35px;
}
.list__item a:first-child {
  margin: 0;
}
.footer__copyright {
  margin-top: 23px;
  text-align: center;
  font-family: 'Heebo';
  font-size: 14px;
  line-height: 21px;
  color: #21243D;
}
@media(max-width:500px) {
  .footer__body {
    padding: 10px 0px 20px 0px;
  }
}
/*------------------------------------------------------*/

/*Сторінка Blog*/

.blog__body {
  padding: 93px 0px 83px 0px;
}
.blog__title {
  font-family: 'Heebo';
  font-weight: bold;
  font-size: 44px;
  line-height: 60px;
  color: #21243D;
}
.blog__news {
  padding-top: 64px;
}
.blog__news .horizontal__line {
  margin-top: 29px;
  margin-bottom: 40px;
}
.blog__news .horizontal__line:last-child {
  margin-bottom: 0px;
}
.news__title a {
  font-family: 'Heebo';
  font-weight: 500;
  font-size: 30px;
  line-height: 44px;
  color: #21243D;
  transition: color 0.5s ease 0s;
}
.news__title a:hover {
  color: #FF6464;
}
.news__information {
  display: flex;
  align-items: center;
  font-family: 'Heebo';
  font-size: 20px;
  line-height: 29px;
  margin: 22px 0px;
}
.information__day {
  color: #21243D;
}

.information__author {
  color: #8695A4;
}
.news__text {
  font-family: 'Heebo';
  font-size: 16px;
  line-height: 23px;
  color: #21243D;
}
@media(max-width:500px) {
  .blog__body {
    padding: 40px 8px 56px;
  }
  .blog__news {
    padding-top: 40px;
  }
  .blog__title {
    font-size: 30px;
  }
  .news__title a {
    font-size: 26px;
    line-height: 38px;
  }
  .news__information {
    font-size: 16px;
    line-height: 23px;
  }
}
/*---------------------------------------------------*/
/*Сторінка Works*/
.page__title {
  font-family: 'Heebo';
  font-weight: bold;
  font-size: 44px;
  line-height: 60px;
  color: #21243D;
  justify-content: flex-start;
}
.page__body {
  padding: 93px 0px 83px 0px;
}
.page__column {
  padding-top: 64px;
}
.page__row {
  padding-top: 0px;
}
.page__horizontal-line {
  margin-top: 29px;
  margin-bottom: 40px;
}
.page__horizontal-line:last-child {
  margin-bottom: 0px;
}
@media(max-width:500px) {
  .page__body {
    padding: 40px 8px 56px;
  }
  .page__column {
    padding-top: 40px;
  }
  .page__title {
    font-size: 30px;
  }
}
/*-------------------------------------------------------------------------*/