/*Обнуление*/
*{padding: 0;margin: 0;border: 0;}
*,*:before,*:after{-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a,a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: inherit;}
/*--------------------*/
.wrapper {
  min-height: 100%;
  display:flex;
  flex-direction: column;
}
/*Верстка адаптивної шапки*/
.header {
  position: relative;
  width: 100%;
  top:0;
  left:0;
  z-index:50;
}
.header__container {
  max-width: 964px;
  margin:0 auto;
  padding: 0 10px;
}
.header::before{
  content: '';
  position: absolute;
  z-index: 2;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background-color: #fff;
}
.header__body {
  position: relative;
  padding: 34px 0px 27px 0px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.header__burger {
  display: none;
}
.header__menu {
  position: relative;
  z-index: 3;
}
.menu__list {
  display: flex;
}
.menu__list li{
  margin-left: 35px;
}
.menu__link {
  font-family: 'Heebo';
  font-weight: 500;
  font-size: 20px;
  line-height: 29px;
  color: #000000;
}
@media (max-width:500px){
  .header__body{
    padding: 19px 0px 11px 0px;
  }
  .header__burger{
    display: block;
    width: 30px;
    height: 20px;
    position: relative;
    z-index: 3;
  }
  .header__burger::before,
  .header__burger::after{
    content: '';
    position: absolute;
    left:0;
    width: 100%;
    height: 2px;
    background-color: #21243D;
    transition: all 0.4s ease 0s;
  }
  .header__burger::before{
    top:0
  }
  .header__burger::after{
    bottom: 0;
  }
  .header__burger span{
    position:absolute;
    left:0;
    top:9px;
    width: 100%;
    height: 2px;
    background-color: #21243D;
    transition: all 0.4s ease 0s;
  }
  .header__burger.active::before{
    transform: rotate(45deg);
    top:9px
  }
  .header__burger.active::after{
    transform: rotate(-45deg);
    bottom: 9px;
  }
  .header__burger.active span{
    transform: scale(0);
  }
  .header__menu{
    position: fixed;
    top:-100%;
    left:0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    padding: 75px 10px 20px 10px;
    overflow: auto;
    transition: all 0.5s ease 0s;
    z-index: 1;
  }
  .header__menu.active{
    top:0;
  }
  .menu__list{
    position: relative;
    display: block;
  }
  .menu__list li{
    margin:0 0 15px 0;
    text-align: center;
  }
  body.lock{
    overflow: hidden;
  }
}
/*----------------------------------------------------*/
/*Контентна частина*/
.content {
flex:1 1 auto;
}
/*Перша секція*/
.hello {
}
.container {
  max-width: 875px;
  margin: 0 auto;
  padding: 0 10px;
}
.hello__body {
  display: flex;
  justify-content: space-between;
  padding: 135px 0 71px 0;
  align-items: flex-start;
}
.hello__information {
  padding: 29px 20px 0 0 ;
}
.hello__title {
  max-width: 438px;
  font-family: 'Heebo';
  font-weight: bold;
  font-size: 44px;
  line-height: 60px;
  color: #21243D;
}
.hello__text {
  margin-top: 45px;
  margin-bottom: 38px;
  max-width: 497px;
  font-family: 'Heebo';
  font-size: 16px;
  line-height: 23px;
  color: #21243D;
}
.hello__button{
  display: inline-flex;
  padding: 14px 20px;
  background-color: #FF6464;
  border-radius: 2px;
}
.hello__button a{
  font-family: 'Heebo';
  font-weight: 500;
  font-size: 20px;
  line-height: 29px;
  color: #FFFFFF;
}

.hello__photo{
  width: 243px;
  height: 243px;
}
.hello__photo img{
  border-radius: 50%;
  box-shadow: -5px 15px 0 0 #EDF7FA;
}

@media(max-width:706px){
  .hello__body{
    padding: 33px 0 50px 0;
  }
  .hello__photo{
    margin:auto 0;
  }
  .hello__title {
    font-size: 32px;
    line-height: 40px;
  }
  .hello__text{
    margin: 35px 0 ;
  }
}
@media(max-width:500px){
  .hello__photo img{
    width: 170px;
    height: 170px;
  }
  .hello__photo {
    width: 170px;
    height: 170px;
  }
  .hello__body{
    flex-direction: column-reverse;
    align-items: center;
    text-align: center;
  }
  .hello__information {
    padding: 40px 35px 0 35px ;
  }
}
/*-------------------------------------------------------------------*/
/*-------------------------------------------------------------------*/